.page {
  background-color: var(--background-color);
  color: var(--main-text-color);
}

.header {
  height: 100vh;
  min-height: 768px;
  padding: 20px;
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
}

.header__rec {
  position: absolute;
  color: var(--rec-color);
  text-transform: uppercase;
  top: 21px;
  right: 49px;
  display: var(--rec-visible);
}

.header__rec::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  margin: -5px -20px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--rec-color);
  background-color: var(--rec-color);
  top: 50%;
  right: 0;
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.header__theme-menu-button {
  font-size: 18px;
  font-weight: 400;
  color: var(--corners-color);
  line-height: 100%;
  padding: 2.5px 12px;
  border: transparent;
  background: none;
  transition-duration: var(--transition-duration);
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: var(--hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--corners-color);
}

.header__theme-menu-button_active {
  border: 1px solid;
}

.header__title {
  line-height: 82.5%;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  margin-left: -2%;
  color: var(--title-color);
  text-shadow: 4px 4px 0px var(--title-shadow);
}

.header__subtitle {
  color: var(--background-color);
  font-weight: 700;
  width: 50%;
  justify-self: end;
  align-self: center;
}

.title-decor {
  background: var(--title-decor);
}

.main {
  padding: 0 20px;
  margin: 60px 0;
  display: flex;
  flex-direction: column;
  gap: 81px;
}

.section {
  display: flex;
  flex-wrap: wrap;
}

.section__reasons {
  gap: 20px;
  flex-direction: column;
}

.section__explanation {
  justify-content: space-between;
}

.section__title {
  font-size: 18px;
  font-weight: 700;
  color: var(--section-title-color);
  width: 33%;
}

.section__article-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  width: 66%;
  gap: 20px;
}

.section__reasons-article-list {
  display: grid;
  grid-template-columns: repeat(3, 32%);
  gap: 20px;
}

.section__article-list-title {
  font-size: 18px;
  font-weight: 700;
  color: var(--article-title-color);
}

.section__article-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section__article-title {
  font-size: 18px;
  font-weight: 700;
  color: var(--article-title-color);
}

.section__article-title_regular {
  font-weight: 400;
}

.section__article-text-link {
  border: transparent;
  text-shadow: 3px 3px 0px var(--link-shadow);
  transition-duration: var(--transition-duration);
}

.section__article-text-link:hover {
  border-bottom: 1px solid var(--main-text-color);
}

.section__article-text-link:focus {
  outline: none;
}

.section__article-text-link:focus-visible {
  outline: 1px solid var(--main-text-color);
}

.section__pictures {
  gap: 20px;
}

.section__pictures-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 260px 320px 430px;
  grid-gap: 20px;
}

.section__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section__image:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}

.section__image:nth-child(2) {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.section__image:nth-child(3) {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 4;
}

.section__image:nth-child(4) {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
}

.section__image:nth-child(5) {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 3;
}

.footer {
  display: grid;
  grid-template-rows: 1fr;
  height: 100vh;
  min-height: 768px;
  position: relative;
  text-align: center;
}

.picture__title {
  width: 100%;
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  color: var(--article-title-color);
}

.footer__title {
  align-self: center;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  color: var(--title-color);
  text-shadow: 2px 2px 0px var(--title-shadow);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-left: 1px solid var(--corners-color);
  border-bottom: 1px solid var(--corners-color);
  left: 20px;
  bottom: 20px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-right: 1px solid var(--corners-color);
  border-top: 1px solid var(--corners-color);
  right: 20px;
  top: 20px;
}

@media (max-width: 1023px) {
  .main {
    gap: 82px;
  }

  .header {
    min-height: 1024px;
  }

  .header__title {
    margin-left: -3%;
  }

  .header__theme-menu {
    align-self: center;
  }

  .header__theme-menu-list {
    text-align: end;
    flex-direction: column;
    gap: 12px;
  }

  .section__title {
    width: 32%;
  }

  .section__article-list {
    width: 65%;
  }

  .section__reasons-article-list {
    display: flex;
    flex-direction: column;
  }
  .section__pictures-container {
    grid-template-rows: 192px 230px 318px;
  }

  .footer {
    min-height: 1024px;
  }
}

@media (max-width: 767px) {
  .header__rec {
    top: 12px;
    right: 38px;
  }

  .header {
    min-height: 668px;
    padding: 10px;
  }

  .section__explanation {
    gap: 20px;
  }

  .header__title {
    letter-spacing: -2px;
    line-height: 95px;
    margin-left: -1%;
  }

  .header__subtitle {
    width: 100%;
  }

  .main {
    margin: 40px 0;
    padding: 0 10px;
    gap: 53px;
  }

  .section__title {
    width: 100%;
  }

  .section__article-list {
    width: 100%;
  }

  .section__pictures {
    gap: 10px;
  }

  .section__pictures-container {
    display: flex;
    flex-direction: column;
    gap: 11px;
  }

  .footer {
    min-height: 668px;
  }

  .footer__title {
    letter-spacing: -2px;
  }

  .decorated-zone::before {
    left: 10px;
    bottom: 17px;
  }

  .decorated-zone::after {
    right: 10px;
    top: 10px;
  }
}
