.body {
  background-color: var(--background-color);
  color: var(--main-text-color);
}

.header {
  background-image: var(--background-image);
  background-size: auto 768px;
  background-position: center;
  opacity: 0.7;
  padding: 0 20px;
  position: relative;
}

.header__rec {
  position: absolute;
  color: var(--rec-color);
  text-transform: uppercase;
  top: 21px;
  right: 49px;
}

.header__rec::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  margin: -5px -20px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--rec-color);
  background-color: var(--rec-color);
  top: 50%;
  right: 0;
}

.header__theme-menu {
  padding-top: 20px;
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.header__theme-menu-button {
  font-size: 18px;
  font-weight: 400;
  color: var(--corners-color);
  line-height: 100%;
  padding: 2.5px 12px;
  border: transparent;
  background: none;
  transition-duration: var(--transition-duration);
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: var(--hover-color);
}

.header__theme-menu-button:focus {
  border: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--corners-color);
}

.header__theme-menu-button_active {
  border: 1px solid;
}

.header__title {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  margin-left: -2%;
  color: var(--title-color);
  text-shadow: 4px 4px 0px var(--title-shadow);
}

.header__title-container {
  padding: 238px 0 136px;
  display: flex;
  flex-direction: column;
  gap: 76px;
}

.header__subtitle {
  color: var(--article-title-color);
  align-self: flex-end;
  font-weight: 700;
  width: 50%;
}

.main {
  padding: 0 20px;
  margin: 60px 0;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.section{
  display: flex;
  flex-wrap: wrap;
}

.section__column{
  flex-direction: column;
}

.section__rows{
  justify-content: space-between;
}

.section__title {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
  color: var(--section-title-color);
  width: 33%;
}

.dark-title {
  color: var(--article-title-color);
}

.section__article-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  width: 66%;
  gap: 20px;
}

.section__column-article-list {
  display: flex;
  gap: 20px;
}

.section__article-list-title {
  font-size: 18px;
  font-weight: 700;
  color: var(--article-title-color);
}

.section__column-article-item{
  width: 33%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section__article-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section__article-title {
  font-size: 18px;
  font-weight: 700;
  color: var(--article-title-color);
}

.section__article-title_regular {
  font-weight: 400;
}

.section__article-text-link {
  border: transparent;
  text-shadow: 3px 3px 0px var(--link-shadow);
  transition-duration: var(--transition-duration);
}

.section__article-text-link:hover {
  border-bottom: 1px solid var(--main-text-color);
}

.section__article-text-link:focus {
  outline: none;
}

.section__article-text-link:focus-visible {
  outline: 1px solid var(--main-text-color);
}

.section__pictures{
  gap: 20px;
}

.section__pictures-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 260px 320px 430px;
  grid-gap: 20px;
}

.section__image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section__image:nth-child(1){
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}

.section__image:nth-child(2){
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.section__image:nth-child(3){
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 4;
}

.section__image:nth-child(4){
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
}

.section__image:nth-child(5){
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 3;
}

.footer {
  padding: 282px 20px;
  text-align: center;
}

.footer__title {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  color: var(--title-color);
  text-shadow: 2px 2px 0px var(--title-shadow);
}

@media (max-width: 1023px) {
  .main{
    gap: 82px;
  }

  .header__theme-menu {
    padding-top: 190px;
  }
  
  .header__theme-menu-list {
   text-align: end;
   flex-direction: column;
    gap: 12px;
  }

  .header__title-container {
    padding: 150px 0 184px;
    gap: 130px;
  }

  .section__title {
    width: 32%;
  }

  .section__article-list{
    width: 65%;
  }

  .section__column-article-list{
    flex-direction: column;

  }

  .section__column-article-item{
    width: 100%;
  }

  .section__pictures-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 192px 230px 318px;
    grid-gap: 20px;
  }

  .footer{
    padding: 434px 20px;
  }
  
}

@media (max-width: 767px) {
  .header__rec{
    top: 12px;
    right: 38px;
  }

  .header__theme-menu{
    padding-top: 78px;

  }

  .header{
    padding: 0 12px;
  }

  .header__title{
    line-height: 95px;
    margin-left: -1%;
  }

  .header__title-container{
    padding: 68px 0 75px;
    gap: 56px;
  }

  .header__subtitle{

    width: 100%;
  }

  .main{
    margin: 30px 0;
    padding: 0 12px;
    gap: 52px;
  }

  .section__title{
    width: 100%;
  }

  .section__article-list{
    width: 100%;
  }

  .section__pictures-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .picture__title{
    margin-bottom: -5px;
  }

  .footer{
    padding: 270px 0px;
  }
  
}